/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}

/* Banner part styles */

.banner-container{
    margin: 0 auto;
    margin-top: 20px;
    width: 1262px;
    height: 600px;
    background-image: url('/styles/Hero-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn1{
    padding: 16px 19px 16px 19px;
    border-radius: 7px;
    background: rgb(13, 19, 33);
    margin-left: 270px;
    margin-top: 30px;
}
.banner-img img{
    margin-bottom: 20px;
    margin-top: -20px;
}
.banner-text h1{
    text-align: center;
    margin-bottom: 20px;
}
.banner-text p{
    text-align: center;
}
/* Why web development styles */
.why-development-container{
    width: 1062px;
    height: 1075px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgba(13, 19, 33, 0.02);
}
.container-inside{
    width: 900px;
    height: 1045px;
    margin: 0 auto;
    margin-top: 70px;
}
.part-1{
    width: 90%;
    margin: 0 auto;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part-1 p{
    text-align: center;
}
.part-2{
    width: 90%;
    margin: 0 auto;
    height: 240px;
    margin-top: 60px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
}
.part-2-1{
    width: 60%;
    height: 220px;
    margin-top: 8px;
}
.btn2{
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px;
}
.part-2-1 p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.part-2-1 h3{
    margin-top: 20px;
}
.part-3{
    width: 90%;
    margin: 0 auto;
    height: 240px;
    margin-top: 60px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    
}
.part-3-2{
    width: 60%;
    height: 220px;
    margin-top: 8px;
    margin-left: 20px;
}
.part-3-2 p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.part-3-2 h3{
    margin-top: 20px;
}

.part-4{
    width: 90%;
    margin: 0 auto;
    height: 240px;
    margin-top: 60px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;

}
.part-4-1{
    width: 60%;
    height: 220px;
    margin-top: 8px;
}
.part-4-1 p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.part-4-1 h3{
    margin-top: 20px;
}

/* my-inspiration-container styles */

.my-inspiration-container{
    width: 1062px;
    height: 590px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgba(13, 19, 33, 0.02);
}
.my-inspiration-inside{
    width: 900px;
    height: 115px;
    margin: 0 auto;
    margin-top: 70px;
    
}
.vedio-add{
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(5, 9, 11, 0.2);
    width: 70%;
    height: 414px; 
    margin-left: 160px;
}
/* My current target styles */
.my-current-target{
    width: 1062px;
    height: 480px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgba(13, 19, 33, 0.02);
}
.target-inside{
    width: 900px;
    height: 115px;
    margin: 0 auto;
    margin-top: 70px;
}
.skill{
    display: flex;
}
.skil-1{
    width: 334px;
    height: 325px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    margin-top: 20px;

}
.skill-1-inside{
    width: 90%;
     margin: 0 auto;
     height: 90%;
     margin-top: 15px;
}
.skill-1-inside a{
    color: rgb(13, 19, 33) ;
    font-weight: 700;
    
}
.skill-1-inside h3,p{
    margin-top: 20px;

}
.skill-1-inside p{
    margin-bottom: 20px;
}
.skil-2{
    width: 334px;
    height: 325px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    margin-top: 20px;
    margin-left: 29px;

}
.skill-2-inside{
    width: 90%;
     margin: 0 auto;
     height: 90%;
     margin-top: 15px;
}
.skill-2-inside a{
    color: rgb(13, 19, 33) ;
    font-weight: 700;
    
}
.skill-2-inside h3,p{
    margin-top: 20px;

}
.skill-2-inside p{
    margin-bottom: 20px;
}

.skil-3{
    width: 334px;
    height: 325px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    margin-top: 20px;
    margin-left: 29px;

}
.skill-3-inside{
    width: 90%;
     margin: 0 auto;
     height: 90%;
     margin-top: 15px;
}
.skill-3-inside a{
    color: rgb(13, 19, 33) ;
    font-weight: 700;
    
}
.skill-3-inside h3,p{
    margin-top: 20px;

}
.skill-3-inside p{
    margin-bottom: 20px;
}

/* i need support styles */

     .support-container {
        width: 1062px;
        height: 350px;
        margin: 0 auto;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('/styles/handshake.jpg'),  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
    }
    


.support-inside p{
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}
.support-inside h1{
    text-align: center;
}
.support-field input{
    width: 408px;
   height: 37px;
   box-sizing: border-box;
   border: 1px solid rgba(13, 19, 33, 0.15);
   border-radius: 8px;
   background: rgb(255, 255, 255);  
   font-weight: 500;
   text-align: center;
}

.btn3{
     width: 90px;
     height: 37px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-weight: 600;
    text-align: center;
}
.support{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Footer styles */
.link-container{
    margin: 0 auto;
    width: 1262px;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    border: 1px solid white;

}
.link-inside{
    
    width: 1062px;
    height: 36px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.txt p{
    color: rgb(13, 19, 33);
    font-weight: 600;
    margin-bottom: 16px;
}
.link3{
    margin-top: 5px;
}
